{% extends 'base.html' %}

{% block title %}Mon compte | Food-advice{% endblock %}

{% block styles %} 
    <!-- Inclusions css ici -->   
    {% css "css/user-account.css" %}

{% endblock %}

{% block body %}
    <!-- Contenu de la page ici -->
    <div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <span id="user-icon-span" class="d-flex justify-content-center">
                <i class="fas fa-user" id="user-icon"></i>
            </span>
            <div class=" text-center mt-3">
                <h5 id="user-name">{{ user.nom }}</h5>
                <h6 class="text-primary">{{ user.nomUtilisateur }}</h6>
                <h6>{% if user.email is not null %}{{ user.email }}{%endif%}</h6>
                {% if user.professionnelSante %}
                    <span class="badge mt-2" id="badge-professionnel">Professionnel de la santé</span>
                    {% if appUser != user %}
                        <button class="btn btn-action mt-2" onclick="openChatBox(0, {{ user.id }},'{{ user.nom }}')">Envoyer un message</button>
                    
                    {% endif %}
                {% endif %}
            </div>
            {% if appUser == user %}
                <hr>
                <nav id="menu">
                    <a href="{% url 'update-user-data' %}"><i class="fas fa-edit"></i> Modifier mes informations </a>
                    <a id="show-messages-btn" onclick="openChatBox()"><i class="fas fa-message"></i> Messagerie <span class="badge bg-primary">0</span></a>
                    <a id="show-alimentation-tracking-btn" onclick="openAlimentationTrackingBox()"><i class="fas fa-bowl-food"></i> Suivre mon alimentation</a>
                </nav>
            {% endif %}
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0">
            <h4 class="title text-center text-md-start mb-3 mb-md-1">{% if appUser == user %}Vos recommandations{% else %}Recommandations{% endif %}</h4>
            <div class="recommandations" data-aos="fade-in-up">
                <h6 class="title">
                    Repas
                    {% if appUser == user %}
                        <a href="{% url "recommend-food" %}">Recommander</a>
                    {% endif %}
                </h6>
                
                {% if user.repas_set.count > 0 %}
                    <div class="row row-cols-3 row-cols-md-4">
                        {% for repas in user.repas_set.all %}
                            {% if appUser == user or repas.approuve == True %}
                                {% include "macros/_food-little-presentation.html" with repas=repas %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucun repas recommandé
                    </div>
                {% endif %}
            </div>
            <div class="recommandations" data-aos="fade-in-up">
                <h6 class="title">
                    Aliments
                    {% if appUser == user  %}
                        <a href="{% url "recommend-aliment" %}">Recommander</a>
                    {% endif %}
                </h6>
                
                {% if user.aliment_set.count > 0 %}
                    <div class="row row-cols-3 row-cols-md-4">
                        {% for aliment in user.aliment_set.all %}
                            {% if appUser == user or aliment.approuve == True %}
                                {% include "macros/_presentation-aliments.html" with aliment=aliment %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucun aliment recommandé
                    </div>
                {% endif %}
            </div>
            <div class="recommandations" data-aos="fade-in-up">
                <h6 class="title">
                    Restaurants
                    {% if appUser == user %}
                        <a href="{% url "recommend-restaurant" %}">Recommander</a>
                    {% endif %}
                </h6>
                
                {% if user.restaurant_set.count > 0 %}
                    <div class="row row-cols-3 row-cols-md-4">
                        {% for restaurant in user.restaurant_set.all %}
                            {% if appUser == user or restaurant.approuve == True %}
                                {% include "macros/_Restaurant-presentation.html" with restaurant=restaurant %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucun restaurant recommandé
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}