
<a href="{% url 'show-food' repas.id %}" class="food food-little-presentation text-center">
    {% if not repas.approuve %}
        <span class="badge-non-approuve">Non approuvé</span>
    {% endif %}
    <div class="image-div">
        <img src="/{{repas.image}}" alt="">
    </div>
    <h4 class="food-title">{{ repas.nom }}</h4>
    {% if repas.momentJournee != None %}
        <h5 class="moment-journee"><i>A consommer le {{ repas.get_momentJournee_display }}</i></h5>
    {% endif %}
    {% if repas.description != "" %}
        <div class="description">  {{repas.description}}
        </div>
    {% endif %}
</a>