<div class="professional-little-presentation col-12" data-aos="zoom-in">
    <a class="name" href="{% url "contributor" professionnel.nomUtilisateur %}">
        
        <i class="fas fa-user icon"></i>
        <h5 class="">{{ professionnel.nom }}</h5>
        <h6 class="nom-utilisateur"> - {{ professionnel.nomUtilisateur }}</h6>
    </a>
    <div class="btns">
        <i class="fas fa-message icon send-message-btn" onclick="openChatBox(0, {{ professionnel.id }}, '{{ professionnel.nom }}')"></i>
    </div>
</div>
