<!-- 
    regles pour faire des recommandations 
-->   
{% block title %}Politique de Recommendation | Food-advice{% endblock %}

{%block body%}
    <!-- Contenu de la page ici -->
<div class="container">
    <h4 class="title mb-5"> Quelques astuces apres une recommandation:</h4>
    <div class="row">
        <h6>1. Il est possible de supprimer votre recommandation tant qu'elle n'a pas encore ete approuvee.</h6>
        <h6>2. Vous pouvez egalement modifier votre recommandation tant qu'elle n'est pas approuvee.</h6>
    </div>
</div>

{% endblock %}

