.custom-line{
    display:flex;
    justify-content:center;
    align-items: center;
    hr{
        position:absolute;
        &.line-1{
            border:2.8px solid $primary-color;
            opacity:1;
            width:10%;
            z-index:1;
        }
        &.line-2{
            border:1.9px solid $primary-color;
            opacity:.8;
            width:20%;
        }
        &.line-3{
            border:1.4px solid $primary-color;
            opacity:.5;
            width:40%;
        }
    }
}
