

/**
    AUTRES STYLES
*/

.c-black{
    color:black;
  }
  strong{
    font-family:$global-font-bold;
  }

.icon{
    cursor:pointer;
    transition:all .2s ease;
    &:hover{
        color:$primary-color;
    }
}


a{
    text-decoration: none; color:inherit;cursor:pointer;
    &:hover{text-decoration: none;color:inherit;}
  }
  
  .text-blue{
    color:blue;
  }
  
  .text-primary{
    color:$primary-color!important;
  }
  .bg-primary{
    background-color:$primary-color!important;
  }
  
  .bg-primary-light{
    background:rgba($primary-color, .4)!important;
  }
  

.border-2{
  border-width:2px!important;
}
.border-3{
  border-width:3px!important;
}
.border-4{
  border-width:4px!important;
}

.floating-recommendation-link{
  position:fixed;
  background:linear-gradient(-90deg, $primary-color,lighten($primary-color, 40%));
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 3px gray;
  padding:30px;
  text-align:center;
  color:black;
  z-index:10;
  font-size:17px;
  top:40%;
  width:30%;
  left:-30%;
  transition:all .3s ease;
  &.shown{
    left:0%;
  }
  a{
    color:white;
  }
  .toggle-btn{
    position:absolute;
    right:-30px;
    background:$primary-color;
    padding:10px;
    top:30%;
    border-radius: 0 20px 20px 0;
    transition:all .2s ease;
    cursor:pointer;
    &:hover{
      color:white;
    }
  }
}