.user-box{
    position:fixed;
    width:50%;
    height:95%;
    bottom:10px;
    right:10px;
    background:white;
    box-shadow: 0 0 2px rgba(black, .4);
    border-radius:10px;
    overflow: hidden;
    z-index:55;
    @media #{$mobile}{
        width:100%;
        height:100%;
        border-radius:0;
        right:0;
        bottom:0;
    }
    .user-box-frame{
        width:100%;
        height:100%;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        .user-box-topbar{
            display: flex;
            justify-content: space-between;
            padding:5px;
            font-size:20px;
            border-bottom:1px solid rgba(black, .2);
            >div{
                display: flex;
                align-items: center;
                *{
                    margin:0 8px;
                }
                .icon{
                    transition:all .2s ease;
                    margin:0 8px;
                    cursor: pointer;
                    &:hover{
                        color:$primary-color;
                        transform:scale(1.15);
                    }
                }
            }
        }
        
        
    }
    .user-box-content{
        overflow: hidden;
        display:flex;
        flex-grow: 1;
        position:relative;
        
    }
    .user-box-screen{
        background:white;
        height:100%;
        @media #{$mobile}{
            width:100%!important;
            position:absolute;
            left:0;
            top:0;
        }
    }
    .user-box-screen.user-box-first-screen{
        z-index:5;
        display:flex;
        flex-direction: column;
        height:100%;
        width:100%; // A l'initialisation la home screen prend tout l'espace que ce soit sur pc ou mobile
        border-right:none;
        transition: all .3s ease;
        @media #{$mobile}{
            border-right:none;
            z-index:1;
        }
        &.second-screen-opened{
            border-right:1px solid rgba(black, .2);
            width:40%;
        }
        >div{width:100%;}      

    }
    .user-box-screen.user-box-second-screen{
        transition: all .3s ease;
        z-index:1;
        width:0%; // A l'initialisation la home screen prend tout l'espace que ce soit sur pc ou mobile
        display:flex;
        flex-direction: column;
        &.second-screen-opened{
            width:65%; // A l'initialisation la home screen prend tout l'espace que ce soit sur pc ou mobile
        }
        @media #{$mobile}{
            left:100%;
            z-index:5;
        }
    }
}

#messages-box{
    display: none;
    #messages-home-screen{
        
        #messages-conversations{
            flex-grow: 1;
        }
        #messages-professional-search{
            height:40px;
            form{
                display:flex;
                overflow: hidden;
                border-top:1px solid lightgray;
                *{transition: all .3s ease;}
                input{
                    flex-grow: 1;
                    border-radius:0;
                    font-size:15px;
                    border:none;
                    padding-left:5px;
                }
                button{
                    padding:0!important;
                    margin-right:10px!important;
                }
            }
            
        }
        #messages-professional-search-result{
            position:absolute;
            bottom:50px;
            left:2%;
            width:55%;
            min-height:50px;
            max-height:95%;
            background:white;
            border:2px solid lightgray;
            border-radius:10px;
            display: none;
            .elements{
                height:100%;
                width:100%;
                overflow-x:hidden;
                overflow-y: auto;
            }
            &::after{
                content:'';
                position:absolute;
                width:0;height:0;
                left:10%;
                bottom:-11px;
                border:10px solid transparent;
                border-bottom:none;
                border-top-color: lightgray;
            }
            @media #{$mobile}{
                width:96%;
            }
        }
        

    }
    #messages-chat-screen{
        #messages{
            flex-grow: 1;
            padding:5px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: hidden;
            overflow-y: auto;
        }
        form{
            display:flex;
            align-items: flex-end;
            #message-text{
                height:40px;
                flex-grow:1;
                font-family: $global-font;
                border:none;
                border-top: 1px solid lightgray;
                padding:3px;
            }
            button{
                border-radius:0;
            }
        }
    }
}

#alimentation-tracking-box{
    display:none;
}