<!-- 
    Vue présentant aux visiteurs une aide pour la naviagation dans le site
-->   
{% extends "base.html" %}
{% block title %}Aide | Food-advice{% endblock %}

{% block styles %}   
    <!-- Inclusions css ici -->   
    <style>
        h1{


        }
        #help img{
            width:100%;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Contenu de la page ici -->
<div class="container" id="help">
    <h1 class="title">AIDE</h1>
    <section>
        <h3>Effectuer une recherche</h3>
        <p>
            Pour éffectuer une recherche sur food-advice, il suffit juste de cliquer sur la loupe puis taper dans la barre de recherche
            le nom de l'aliment ou repas que vous recherchez.
            <img src="{% static 'images/captures/recherche.png' %}" alt="">
        </p>
    </section>
</div>
{% endblock %}
