<!-- 
    Page affichée après que le visiteur ait entré une adresse email et cliqué sur le bouton de souscription à la newsletter
-->   
{% extends "base.html" %}
{% block title %}Newsletter | Food-advice{% endblock %}

{% block body %}
    <!-- Contenu de la page ici -->
<div class="container">
    <h2 class="title">
        Souscription à la newsletter
    </h2>
    <p>
        {% if alreadySubscriber == true %}
            L'adresse <strong class='text-primary'>{{email}}</strong> est déjà enregistrée pour la newsletter
        {% else %}
            Vous avez souscrit avec succès à la newsltter. votre adresse ne sera pas partagée
        {% endif %}
    </p>
    <h5 class="">
        Quelles informations allez-vous recevoir ?
    </h5>
</div>
{% endblock %}