{% extends 'base.html' %}
{% block title %}Restaurants | Food-advice{% endblock %}

{% block styles %}

{% endblock %}

{%block body%}
<!-- Contenu de la page ici -->
<h2 class="heading-title" data-aos="flip-up">
    Restaurants
</h2>
<div class="floating-recommendation-link">
    Vous pouvez recommander un restaurant qui n'est pas dans notre liste<br>
    <a href="{% url 'recommend-restaurant' %}"><strong>Cliquez ici</strong></a>
    <span class="toggle-btn"><i class="fas fa-arrow-right icon-2"></i></span>
</div>
<div class="container mt-2" id="list">
    <h5 class="title">Filtres</h5>
    <div id="filtres" class="row">
        <div class="col-12 col-md-5">
            <label>Nom </label>
            <input type="text" id="filtre-nom-restaurant"class="form-control"placeholder="Nom du restaurant" value="{{ nom }}">
        </div>
        <div class="col-12 col-md-5">
            <label>Repas </label>
            <input type="text" id="filtre-nom-repas"class="form-control" placeholder="Nom du repas">
        </div>
        <div class="col-12 col-md-1 d-flex align-items-end">
            <button class="btn btn-primary" onclick="filter()">Appliquer</button>
        </div>
    </div>
    <hr>
    {% include "components/_loading.html" %}
    <div id="elements" class="mt-3 row row-cols-3 row-cols-md-4">
        {% include "load/restaurants.html" with restaurants=restaurants%}
    </div>
    <hr>
</div>
     
{% endblock %}

{% block scripts %}
    <!-- Code javascript ici -->
    <script>
        /**
         * Fonction pour l'application du filtre
         */
        function filter(){
            $('#list .loading').show(200);
            $('#list #elements').html("");
            $.post("/restaurants/filtre", {
                nom:$("#filtre-nom-restaurant").val(),
                adresse:$("#filtre-adresse").val(),
                nomRepas:$("#filtre-nom-repas").val(),
            }, function(response){
                $('#list #elements').html(response);
                $('#list .loading').hide(200);
            });
        }
    </script>

    {%endblock%}
