{% extends 'base.html' %}
{% block title %}Accueil | Food-advice{% endblock %}

{% block styles %}
    <!-- Inclusions css ici -->  
    <?= $css([
        "css/aliments-liste.css"
    ]) ?>
    {% endblock %}

    {%block body%}
<!-- Contenu de la page ici -->
<div class="container mt-2" id="list">
    <h5 class="title">Filtres</h5>
    <div id="filtres" class="row">
        <div class="col-12 col-md-4">
            <label>Nom </label>
            <input type="text" id="filtre-nom-restaurant"class="form-control"placeholder="Nom du restaurant" value="<?= $nom ?? "" ?>">
        </div>
        <div class="col-12 col-md-3">
            <label>Adresse </label>
            <input type="text" id="filtre-adresse"class="form-control"placeholder="">
        </div>
        <div class="col-12 col-md-4">
            <label>Repas </label>
            <input type="text" id="filtre-nom-repas"class="form-control" placeholder="Nom du repas">
        </div>
        <div class="col-12 col-md-1 d-flex align-items-end">
            <button class="btn btn-primary" onclick="filter()">Appliquer</button>
        </div>
    </div>
    {% include "components/_loading.html" %}
    <div id="restaurants">
        {% include "load/restaurants.html" with restaurants=restaurants %}
    </div>
    <hr>
</div>
     
{% endblock %}

{% block scripts %}
    <!-- Code javascript ici -->
    <script>
        /**
         * Fonction pour l'application du filtre
         */
        function filter(){
            $('#list .loading').show(200);
            $('#list #elements').html("");
            $.post("/restaurants/filtre", {
                nomRestaurant:$("#filtre-nom-restaurant").val(),
                adresse:$("#filtre-adresse").val(),
                nomRepas:$("#filtre-nom-repas").val(),
            }, function(response){
                $('#list #elements').html(response);
                $('#list .loading').hide(200);
            });
        }
    </script>

    {%endblock%}
