{% extends 'base.html' %}
{% block title %} {{ restaurant.nom }}{%endblock%}

{% block styles %}
    <!-- Inclusions css ici -->  
    {% css "css/restaurant-show.css" %}
{% endblock %}
 
{% block body %}
    <!-- Contenu de la page ici -->

    <h2 id="restaurant-title">
        {{ restaurant.nom }}
    </h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="/{{ restaurant.image }}" alt="" id="restaurant-image">
        </div>
        <div class="col-12 col-md-7" id="details">
            <div id="description">
                {{ restaurant.description }}
            </div>
            <hr>
            {% if restaurant.contributeur != null %}
                <div>
                    <span class="label">Recommandé par : </span>
                    <span class="value">{{ restaurant.contributeur }}</span>
                </div>
            {% endif %}
            <div>
                <span class="label">Adresse : </span>
                <span class="value">{{ restaurant.adresse }}</span>
            </div>
                
        </div>
    </div>
    <div class="row mt-2">
        <div id="ratings" class="col-12 text-center" data-aos="zoom-out">
            <div id="stars"class="d-flex justify-content-center">
                <i class="far fa-star star"></i>
                <i class="far fa-star star"></i>
                <i class="far fa-star star"></i>
                <i class="far fa-star star"></i>
                <i class="far fa-star star"></i>
            </div>
            <span><strong id="notesCount">{{ restaurant.nombreNotes }}</strong> personne {% if restaurant.nombreNotes > 1 %}s ont{% else %}a{% endif %} noté</span><br>
            <div id="user-note">
                {% call_method restaurant 'noteContributeur' appUser as note %}
                {%if appUser is null or note == 0 %}
                    <button class="btn btn-primary btn-noter">Noter</button>
                {% else %}
                    <span>Vous avez donné une note de <strong>{{ note }}. <a class="btn-noter text-primary">Changer</a></strong></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        {% if autresRestaurants.count > 0 %}
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h5 class="title">Autres restaurants</h5>
            <div class="row row-cols-3">
                {% include "load/restaurants.html" with restaurants=autresRestaurants%}
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-6 order-1 order-md-2">
            <h5 class="title">Commentaires</h5>
            {% if appUser != null %}
                <span>Ajouter un commentaire</span>
                <form id="new-comment-form">
                    <textarea id="comment-text" placeholder="Votre commentaire ici"></textarea>
                    <div class="d-flex justify-content-end mt-1">
                        <button class="btn btn-primary" id="add-comment" type="button">Ajouter</button>
                    </div>
                </form>
            {% else %}
                <a id="btn-commenter" class="text-primary">Ajouter un commentaire</a>
            {% endif %}
            <div id="commentaires" class="mt-2">
                {% include "load/comments.html" %}
            </div>
        </div>
    </div>
</div>
     
{% endblock %}

{% block scripts %}
    <!-- Code javascript ici -->
    <script>
        const RESTAURANT_ID = parseInt("{{ restaurant.id }}");
    </script>
    <script src="{% static "js/restaurant-show.js" %}"></script>
    <script>
        updateStarsWithAverage(NOTES_AVERAGE);
    </script>
{%  endblock %}