{% extends "base.html" %}
{% block title %}Aliments | Food-advice{% endblock %}

{% block styles %}
    {% css "css/aliments-liste.css" %}
{% endblock %}

{%block body%}
<!-- Contenu de la page ici -->

<h2 class="heading-title" data-aos="flip-up">
    Aliments
</h2>
<div class="floating-recommendation-link">
    Vous pouvez recommander un aliment qui n'est pas dans notre liste<br>
    <a href="{% url 'recommend-aliment' %}"><strong>Cliquez ici</strong></a>
    <span class="toggle-btn"><i class="fas fa-arrow-right icon-2"></i></span>
</div>
<div class="container mt-2" id="list">
    <h5 class="title">Filtres</h5>
    <div id="filtres" class="row">
        <div class="col-12 col-md-5">
            <label>Nom </label>
            <input type="text" id="filtre-nom"class="form-control"value="{{ nom }}">
        </div>
        <div class="col-12 col-md-5">
            <label>Composition</label> 
            <select id="filtre-composition" class="form-select">
                <option value="">Peu importe</option>
                <option value="TGC">Taux de glucides croissant</option>
                <option value="TGD">Taux de glucides décroissant</option>
                <option value="TLC">Taux de lipides croissant</option>
                <option value="TLD">Taux de lipides décroissant</option>
                <option value="TPC">Taux de proteines croissant</option>
                <option value="TPD">Taux de proteines décroissant</option>
                <option value="ACC">Apport calorifique croissant</option>
                <option value="ACD">Apport calorifique décroissant</option>
            </select>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-end">
            <button class="btn btn-primary" onclick="filter()">Appliquer</button>
        </div>
    </div>
    <hr>
    {% include "components/_loading.html" %}
    <div id="elements" class="mt-3 row row-cols-3 row-cols-md-5">
        {% include "load/aliments.html" with aliments=aliments%}
    </div>
    <hr>
</div>
     
{% endblock %}

{% block scripts %}
    <!-- Code javascript ici -->
    <script>
        /**
         * Fonction pour l'application du filtre
         */
        function filter(){
            $('#list .loading').show(200);
            $('#list #elements').html("");
            $.post("{% url "aliments-filter" %}", {
                nom:$("#filtre-nom").val().trim(),
                composition:$("#filtre-composition").val()
            }, function(response){
                $('#list #elements').html(response);
            $('#list .loading').hide(200);
            });
        }
    </script>

{%endblock%}