<!--
    PAGE D'AFFICHAGE D'UN ALIMENT PARTICULIER
-->

{% extends "base.html" %}
{% block title %}{{ aliment.nom }} | Food-advice{% endblock%}

{% block styles %}
    <!-- Inclusions css ici -->  
    {% css "css/aliment-show.css" %}

{% endblock %}
 
{% block body %}
    <!-- Contenu de la page ici -->

    <h2 id="aliment-title">
        {{ aliment.nom }}
    </h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="/{{ aliment.image }}" alt="" id="aliment-image">
        </div>
        <div class="col-12 col-md-7" id="details">
            <div id="description">
                {{ aliment.description }}
            </div>
            <hr>
            {%if aliment.contributeur is not null %}
                <div>
                    <span class="label">Recommandé par : </span>
                    <span class="value">{{ aliment.contributeur }}</span>
                </div>
            {% endif %}
            <div id="composition" class="mt-3">
                <h5>Composition</h5>
                {% if aliment.uniteComptage != None %}
                    <div>
                        <span class="label">Se compte en : </span>
                        <span class="value">{{ aliment.uniteComptage }}</span>
                    </div>
                {% endif %}
                <div>
                    <span class="label">Masse à l'unité : </span>
                    <span class="value">{{ aliment.masseUnite }} g</span>
                </div>
                <div>
                    <span class="label">Taux de glucides : </span>
                    <span class="value">{{ aliment.tauxGlucides }}%</span>
                </div>
                <div>
                    <span class="label">Taux de lipides : </span>
                    <span class="value">{{ aliment.tauxLipides }}%</span>
                </div>
                <div>
                    <span class="label">Taux de Protéines : </span>
                    <span class="value">{{ aliment.tauxProteines }}%</span>
                </div>
                <div>
                    <span class="label">Calories : </span>
                    <span class="value">{{ aliment.calories }} Kcal (dans {{ aliment.masseUnite }} g)</span>
                </div>
                <div>
                    <span class="label">Minéraux : </span>
                    <span class="value">{{ aliment.mineraux }}</span>
                </div>
                <div>
                    <span class="label">Vitamines : </span>
                    <span class="value">{{ aliment.vitamines }}</span>
                </div>
            </div>
                
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h5 class="title">Aliments du même type</h5>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <h5 class="title">Commentaires</h5>
            {% if appUser is not null %}
                <span>Ajouter un commentaire</span>
                <form id="new-comment-form">
                    <textarea id="comment-text" placeholder="Votre commentaire ici"></textarea>
                    <div class="d-flex justify-content-end mt-1">
                        <button class="btn btn-primary" id="add-comment" type="button">Ajouter</button>
                    </div>
                </form>
            {% else %}
                <a id="btn-commenter" class="text-primary">Ajouter un commentaire</a>
            {% endif %}
            <div id="commentaires" class="mt-2">
                {% include "load/comments.html" with commentaires=commentaires%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <!-- Code javascript ici -->
    <script>
        const ALIMENT_ID = parseInt("{{ aliment.id }}");
    </script>
    <script>
        updateStarsWithAverage(NOTES_AVERAGE);
    </script>
{% endblock %}