<div class="dialog-box" id="alert-confirm-dialog-box">
<div class="dialog-box-frame">
    <div class="dialog-box-container">
        <h5 class="dialog-box-title title">Titre</h5>
        <p class="dialog-box-content">Contenu</p>
        <div class="dialog-box-buttons d-flex justify-content-end">
            <button class="btn btn-primary" id="alert-confirm-dialog-btn-ok">OK</button>
            <button class="btn btn-primary alert-confirm-dialog-btn-confirm" id="alert-confirm-dialog-btn-yes">Oui</button>
            <button class="btn btn-danger alert-confirm-dialog-btn-confirm" id="alert-confirm-dialog-btn-no">Non</button>
        </div>
    </div>
</div>
</div>

<div class="dialog-box" id="rating-dialog-box">
<div class="dialog-box-frame">
    <div class="dialog-box-container">
        <h5 class="dialog-box-title title text-center">Choisissez une note</h5>
        <div class="dialog-box-buttons d-flex justify-content-center">
            <button class="btn btn-primary rating-dialog-box-btn-rate">1</button>
            <button class="btn btn-primary rating-dialog-box-btn-rate">2</button>
            <button class="btn btn-primary rating-dialog-box-btn-rate">3</button>
            <button class="btn btn-primary rating-dialog-box-btn-rate">4</button>
            <button class="btn btn-primary rating-dialog-box-btn-rate">5</button>
            <button class="btn btn-danger" id="rating-dialog-box-btn-cancel">Annuler</button>
        </div>
    </div>
</div>
</div>