@import "./utils/variables";

#restaurant-title{
    background:purple;
    text-shadow: 1px 1px 1px black;
    font-family: $title-font;
    color:white;
    padding:20px 0;
    text-align:center;
}
.value{
    font-family:$global-font-bold;
    color:black;
}

#restaurant-image{
    width:100%;
}

#details{
    font-size: 15px;

}

#ratings{
    font-size:20px;
    #stars{
        .star{
            font-size:25px;
            color:rgb(180,180,180);
            &.active{color:gold;}
        }
    }
    .star{
        color:rgb(180,180,180);
        font-size:25px;
        &.active{
            color:gold;
        }
    }

    #user-note{
        font-size:16px;
        a{
            cursor: pointer;
        }
    }
}




#new-comment-form{
    textarea{
        border:1px solid lightgray;
        border-radius: 5px;
        width:100%;
        height:100px;
        font-family: $global-font;
        padding:3px;
    }
}